.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.cabecalho .logo {
  padding-left: 20px;
}

.cabecalho nav ul {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.cabecalho nav ul li a {
  padding: 15px;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.cabecalho nav ul li a:hover {
  background-color: rgb(0, 255, 0);
}
